<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Review</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/review.css') }}"
    />
  </head>
  <body>
    <div class="container text-center mt-5">
      <h2>Thank you for completing the exam!</h2>
      <p>Please rate your experience:</p>
      <div class="stars">
        <input type="radio" id="star5" name="rating" value="1" /><label
          for="star5"
          >&#9733;</label
        >
        <input type="radio" id="star4" name="rating" value="2" /><label
          for="star4"
          >&#9733;</label
        >
        <input type="radio" id="star3" name="rating" value="3" /><label
          for="star3"
          >&#9733;</label
        >
        <input type="radio" id="star2" name="rating" value="4" /><label
          for="star2"
          >&#9733;</label
        >
        <input type="radio" id="star1" name="rating" value="5" /><label
          for="star1"
          >&#9733;</label
        >
      </div>
      <button class="btn btn-success mt-3" id="submitFeedback">
        Submit Feedback
      </button>

      <script src="{{ url_for('static', filename='js/feedback.js') }}"></script>
    </div>
  </body>
</html>
